

@{
    ViewBag.Title = "Create";
}

<h2>Add task</h2>
<form method="post">
    <input type="text" name="Title" placeholder="Title" /><br />
    <input name="Description" placeholder="Description"/><br />
    <button type="submit">Add Task</button>
</form>

